@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
} 
/* nav section styles */
.nav{
    width: 1300px;
    height: 70px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
   
}

.nav h4{
    font-size: 28px;
    font-weight: 900;
    margin-left: 100px;
}

.btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(44, 45, 46);
    font-size: 20px;
    margin-right: 100px;
}

.btn a{
    text-decoration: none;
    color: rgba(13, 19, 33);
}

/* Banner section styles */
.banner-container{
    width: 1339px;
    height: 536px;
    /* border: 2px solid red; */
    background-image: url(assets/Hero-bg.png);
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 30px 0;
}
.image{
    text-align: center;
    margin-bottom: 32px;
}

.banner-container h1{
    /* text-align: center; */
    font-size: 48px;
    font-weight: 800;
}

.banner-container p{
    /* text-align: center; */
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    opacity: 0.8;
}

.banner-container button{
    font-size: 20px;
    font-weight: 600;
    background-color: #0d1321;
    margin-top: 32px;
    padding: 10px 20px;
    border-radius: 10px;
}
.banner-container button a{
    color: #ffffff;
    text-decoration: none;  
}

/* Development section styles */
.development-container{
    width: 1140px;
    height: 1015px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
}

.dev-text{
    text-align: center;
    margin-top: 122px;
}

.dev-text h1{
    margin-bottom: 24px;
}
.dev-text p{
    width: 850px;
    height: 52px;
    /* border: 2px solid red; */
    margin: 0 auto;
}

.text-pic{
    width: 850px;
    height: 220px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.text-pic p{
    margin-top: 40px;
}

.text-pic button{
    margin-top: 40px;
    padding: 10px 20px;
}

.left{
    margin: 0 40px;
}
.right{
    margin: 0 40px;
}

 /* Inspiration section styles */
.inspiration-container{
    width: 1140px;
    height: 845px;
    /* border: 2px solid red; */
    margin: 0 auto;
    /* margin-top: 30px; */ 
}

.ins-content{
    width: 852px;
    height: 130px;
    /* border: 2px solid red; */
    margin: 0 auto;
}

.ins-content h1 {
    text-align: center;
    margin-top: 30px;
}

.ins-content  p {
    text-align: center;
    margin-top: 30px;
}

.ins-video{
    width: 1090px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}


/* My current target section styles */
.current-properties{
    width: 1080px;
    height: 276px;
    /* border: 2px solid red; */
    margin: 0 auto;
    
}
.current-target-container{
    width: 1140px;
    height: 480px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
}

.current-text{
    text-align: center;
}

.current-text p{
    margin: 0 200px;
    margin-top: 25px;
    margin-bottom: 80px;
}

.current-properties{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.current-left{
    width: 364px;
    height: 232px;
    border-radius: 10px;
    /* border: 2px solid red; */
    background-color: #f5e3de;
    padding: 20px;
}

.current-left img{
    margin-bottom: 20px;
}
.current-left h5{
    font-size: 24px;
    margin-left: 5px;
}

.current-left p{
    font-size: 14px;
    text-align: left;
    margin-bottom: 30px;
}

.current-left span a{
    color: #000000;   
}




.current-middle{
    width: 364px;
    height: 232px;
    border-radius: 10px;
    /* border: 2px solid red; */
    background-color: #e3e5e9;
    padding: 20px;
}

.current-middle img{
    margin-bottom: 20px;
}
.current-middle h5{
    font-size: 24px;
    margin-left: 5px;
}

.current-middle p{
    font-size: 14px;
    text-align: left;
    margin-bottom: 30px;
}

.current-middle span a{
    color: #000000;   
}




.current-right{
    width: 364px;
    height: 232px;
    border-radius: 10px;
    /* border: 2px solid red; */
    background-color: #f5e3de;
    padding: 20px;
}

.current-right img{
    margin-bottom: 20px;
}
.current-right h5{
    font-size: 24px;
    margin-left: 5px;
}

.current-right p{
    font-size: 14px;
    text-align: left;
    margin-bottom: 30px;
}

.current-right span a{
    color: #000000;   
}


/* need support section styles */
.need-support-container{
    width: 1140px;
    height: 320px;
    /* border: 2px solid red; */
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("assets/handshake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.support h1{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-top: 80px;
    padding-top: 78px;
}

.support p{
    color: #ffffff;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 40px;
}

.input-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.input input{
    width: 500px;
    padding: 15px 25px;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
}

.btn-btn button{
    padding: 12px 25px;
    font-size: 25px;
    border-radius: 8px;
    border: none;
    margin-top: 2px;
}

/* footer section styles */
#footer{
    width: 1140px;
    height: 38px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #f5e3de;
    padding: 10px 0;
}

.linkedin{
    margin: 0 15px;
}

